body{
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    overflow-x: hidden;
}
.hero-wrapper {
    width: 100%;
    padding: 150px 0px ;
    background-image: url(../../../public/beschaffungsmarkt_images/search-section-CbE0yjj4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;
}

/* .hero-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #012A52;
    opacity: 0.4;
    z-index: -1;
} */

.Hero-heading {
    border: 1px solid #ffffff;
    padding: 4px 12px;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.Hero-head {
    color: #ffffff;
    font-size: 60px;
    line-height: 55px;
    width: 100%;
    font-weight: 700;
}

.Hero-title {
    color: #ffffff;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    /* font-weight: 400; */
}

input:focus {
    outline: none;
    border: none;
}

.serch-input input {
    border-radius: 8px;
    border: none;
    padding: 10px;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    width: 300px;
}

.serch-input input::placeholder {
    font-weight: 400;
    color: #000000;
    font-family: inherit;
    font-size: 15px;
    opacity: 1;
}

.serch-category select {
    border-radius: 8px;
    border: none;
    padding: 10px;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    width: 300px;
}

.form-select:focus {
    border: none;
    box-shadow: none;
}

.serch-category select option {
    overflow-y: auto;
    max-height: 3px;
}

.serch-btn button {
    border-radius: 8px;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(to right,
            #3b82f6,
            #1d4ed8,
            #3b82f6);
    ;
}

.category-button button {
    background-color: #ffffff4d;
    border: none;
    /* opacity: 0.7; */
    padding: 9px;
    border-radius: 8px;
}

.category-button button span {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.home-2-wrapper {
    background-color: #f3f4f6;
    padding: 50px 0px;
}

.home-2-head {
    width: fit-content;
    padding: 4px 12px;
    border-radius: 9999px;
    border: 1px solid #9ca3af;
    background-color: #fff;
}

.home-2-head span {
    font-weight: 400;
    color: #000000;
    font-size: 14px;
}

.home-2-heading span {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 1px;
    color: #000000;
}

.home-2-title {
    color: #4b5563;
    font-size: 15px;
}

.home-2-category-box {
    border: 1px solid #e5e7eb;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ffffff;
    width: 192px;
    height: 175px;
    padding: 0px 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.267);
}

.home-4-wrapper {
    background-color: #f3f4f6;
    padding: 90px 0 120px 0;
}

.home-steps {
    width: 300px;
}

.step-circle {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: #ffffff;
}

.step-heading {
    padding: 10px 0 6px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.step-text p {
    color: #4b5563;
    font-size: 14px;
    line-height: 20px;
}

.home-5-wrapper {
    padding: 40px 0;
    background: linear-gradient(to right,
            #002052,
            #3685FF);
    ;
    color: #ffffff;
}

.home-5-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
    color: #ffffff;
}

.home-5-button button {
    color: #1e3a8a;
    background-color: #ffffff;
    font-weight: 700;
    padding: 16px 16px;
    border-radius: 8px;
    border: none;
}


.home-5-bottom-box h4 {
    font-weight: 700;
}

.home-5-bottom-box span {
    font-weight: 200;
}

.home-5-image img {
    margin-top: -100px;
    padding: 0;
}

.home-6-authors {
    padding: 50px 0;
}

.home-6-title span {
    color: #4b5563;
}

.home-6-authors-box {
    border: 1px solid #e5e7eb;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ffffff;
    width: 320px;
    height: 320px;
    padding: 0px 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.267);
}

.pricing-wrapper {
    background-color: #f3f4f6;
    padding: 50px 0;
}

.pric-box-free {
    border: none;
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 8px;
    width: 410px;

}

.pric-box-premium {

    border: none;
    background-color: #172554;
    padding: 40px 20px;
    border-radius: 8px;
    width: 410px;
    color: #ffffff;
}

.price-fee {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.price-text {
    font-size: 14px;
    line-height: 20px;
    color: #475569;
}

.price-doller h1 {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
}

.price-doller span {
    color: #475569;
}

.price-get-box {
    color: #1d4ed8;
    padding: 8px 16px;
    background-color: #ffffff;
    border: 1.7px solid #1d4ed8;
    transition: 0.2s;
}

.price-get-box:hover {
    background-color: #1d4ed8;
    color: #ffffff;
}

.price-list-checked {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    line-height: 20px;
}

.price-list-checked span {
    margin-left: 12px;
}

.price-list-unchecked {
    font-size: 14px;
    font-weight: 500;
    color: #94a3b8;
    line-height: 20px;
}

.price-list-unchecked span {
    margin-left: 12px;
}

.price-fee-premium {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
}

.price-text-premium {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.price-doller-premium h1 {
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}

.price-doller-premium span {
    color: #ffffff;
}

.price-get-box-premium {
    color: #1d4ed8;
    padding: 8px 16px;
    background-color: #ffffff;
    border: 1.7px solid #1d4ed8;
    transition: 0.2s;
    font-weight: 700;
}

.price-get-box-premium:hover {
    background-color: #1d4ed8;
    color: #ffffff;
}

.price-list-checked-premium {
    font-size: 14px;
    font-weight: 500;
    color: #dfdfdf;
    line-height: 20px;
}

.price-list-checked-premium span {
    margin-left: 12px;
}

.price-list-unchecked-premium {
    font-size: 14px;
    font-weight: 500;
    color: #94a3b8;
    line-height: 20px;
}

.price-list-unchecked-premium span {
    margin-left: 12px;
}

.nav-bar-wrap {
    font-family: "Inter", sans-serif;
    padding: 8px;
    background-color: #0d111b;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
}

.nav-buttons button {
    background-color: #139dff;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 20px;
    border-radius: 8px;
}

.pricing-annually-text{
    position: relative !important;
}

.pricing-offer{
    position: absolute;
    margin-left: 82;
    margin-top: -32px;
}

.pricing-content{
    margin-top: 70px;
}

.form-switch{
    margin-top: 20px !important;
}

/* Footer css Starts */

footer{
    background-color: #172554;
    color: #ffffff;
    padding: 50px 0;
    border-radius: 16px;
    margin: 30px 20px 20px 20px;
}
.footer-logo img{
    width: 35%;
}
.newsletter-wrapper{
    margin-bottom: 40px;
}
.newsletter-wrap h3{
    font-size: 48px;
    color: #fff;
    font-weight: 700;
}
.newsletter-wrap p{
    font-size: 16px;
    line-height: 24px;
    color: #9ca3af;
    font-weight: 400;
    margin: 16px 0px 23px 0px;
}
.newsletter-wrap .news-email{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
    width: 300px;
}
.newsletter-wrap .news-btn{
    background: linear-gradient(90deg, #3b82f6, #1d4ed8, #3b82f6);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 20px;
}
.mission-wrap{
    margin-top: 30px;
}
.mission p{
    font-size: 16px;
    line-height: 24px;
    color: #9ca3af;
    font-weight: 400;
}
.mission-wrap h4{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 14px;
}
.mission-wrap p{
    font-size: 16px;
    color: #9ca3af;
    line-height: 26px;
}
.footer-menu h4{
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}
.footer-menu ul{
    padding: 0px;
    margin: 0px;
}
.footer-menu ul li{
    list-style: none;
    margin-bottom: 12px;
}
.footer-menu ul li a{
    text-decoration: none;
    color: #9ca3af;
    font-size: 15px;
    font-weight: 400;
    transition: 0.2s;
}
.footer-menu ul li a:hover{
    color: #fff;
}
.copyright-wrap{
    margin-top: 25px;
}
.copyright p{
    font-size: 15px;
    font-weight: 400;
    color: #9ca3af;
    margin-bottom: 0px;
}
.social-media ul{
    padding: 0px;
    margin: 0px;
}
.social-media ul li{
    list-style: none;
    margin-left: 12px;
    display: inline-block;
}
.social-media ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    transition: 0.2s;
}


@media(max-width: 767px){
    footer {
    padding: 40px 0px;
    margin: 30px 12px 15px 12px;
}
.newsletter-wrap h3 {
    font-size: 32px;
}
.newsletter-wrap .news-email {
    margin-right: 10px;
    width: 100%;
}
.newsletter-wrap .news-btn {
    margin-top: 20px;
    width: 100%;
}
.footer-logo img {
    width: 60%;
}
.mission-wrap h4 {
    font-size: 17px;
}
.mission-wrap p {
    font-size: 15px;
    line-height: 25px;
}
.footer-menu ul li {
    margin-bottom: 10px;
}
}

/* Footer css ends */

/* Overview css starts */

.overview-wrapper{
    background-color: #eff6ff;
    padding: 40px 0 40px 0;
}
.overview-head h2{
    font-size: 32px;
    font-weight: 700;
    color: #000;
    margin-top: 30px;
}
.overview-head h3{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin: 15px 0px;
}
.overview-head p{
    font-size: 14px;
    font-weight: 400;
    color: #4b5563;
    line-height: 23px;
    margin-bottom: 0px;
}
.overview-img img{
    width: 100%;
}
.overview-breadcrumb{
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 13px;
    font-weight: 400;
}
.overview-breadcrumb .breadcrumb-item a{
    text-decoration: none;
    color: #000;

}
.overview-breadcrumb .breadcrumb-item.active{
    color: #3b82f6;
}

@media(max-width: 767px){
    .overview-wrapper {
        padding: 30px 0 30px 0;
    }
    .overview-head h2 {
        font-size: 24px;
        margin-top: 20px;
    }
    .overview-head h3 {
        font-size: 16px;
        line-height: 25px;
    }
}

/* Overview css ends */


/* Service page css starts */


.service-box-wrapper{
    width: 100%;
    padding: 50px 0px;
}
.service-box{
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.service-icon{
    display: flex;
    align-items: center;
}
.service-icon img{
    width: 100%;
}
.icon-bg{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #285ad6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-bg svg{
    color: #fff;
    font-size: 28px;
}
.service-icon-head h2{
    font-size: 22px;
    font-weight: 700;
     color: #285ad6;
     margin-left: 14px;
     margin-bottom: 0px;
}
.service-content h3{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin: 15px 0px;
}
.service-content p{
    font-size: 15px;
    font-weight: 400;
    color: #474b51;
    line-height: 24px;
    margin-bottom: 10px;
}
.service-content ul{
    margin: 0;
    padding: 0px 0px 0px 16px;
}
.service-content ul li{
    font-size: 15px;
    font-weight: 400;
    color: #474b51;
    line-height: 24px;
    margin-top: 12px;
}
.serv-desc-content h3{
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin: 20px 0px;
}
.serv-desc-content p{
    font-size: 15px;
    font-weight: 400;
    color: #474b51;
    line-height: 24px;
    margin-bottom: 0px;
}
.serv-desc-content ul{
    margin: 0 0 25px 0px;
    padding: 0px 0px 0px 16px;
}
.serv-desc-content ul li{
    font-size: 15px;
    font-weight: 400;
    color: #474b51;
    line-height: 24px;
    margin-top: 12px;
}
.service-desc-img{
    text-align: right;
}
.service-desc-img img{
    width: 75%;
}
.serv-wrap{
    margin: 70px 0px;
}
.service-desc-img-2 img{
    width: 75%;
}

@media(max-width : 1300px){
    .service-box {
        padding: 18px;
    }
    .service-icon-head h2 {
        font-size: 18px;
        margin-left: 8px;
    }
    .icon-bg {
        width: 44px;
        height: 44px;
    }
    .icon-bg svg {
        font-size: 24px;
    }
    .service-content h3 {
        font-size: 17px;
    }
    .service-desc-img img {
        width: 90%;
    }
    .service-desc-img-2 img {
        width: 90%;
    }
}

@media(max-width : 767px){
    .service-box {
        padding: 16px;
    }
    .service-icon-head h2 {
        font-size: 19px;
        margin-left: 8px;
    }
    .icon-bg {
        width: 44px;
        height: 44px;
    }
    .icon-bg svg {
        font-size: 24px;
    }
    .service-content h3 {
        font-size: 18px;
    }
    .service-desc-img img {
        width: 100%;
    }
    .service-desc-img-2 img {
        width: 100%;
    }
    .serv-desc-content h3 {
        font-size: 26px;
    }
    .serv-wrap {
        margin: 40px 0px;
    }
}

/* Service page css ends */

/* Sign up page css starts */

.signup-img-wrap img{
    width: 100%;
}
.signup-wrapper{
    margin-top: 50px;
}
.signup-content-wrap h2{
    font-size: 30px;
    font-weight: 700;
    color: #000;
}
.signup-content-wrap p{
    font-size: 17px;
    font-weight: 400;
    color: #959595;
    line-height: 24px;
    margin: 20px 0px 28px 0px;
}
.signup-content-wrap{
    width: 100%;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
}
select, input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="file"], textarea {
  display: block;
  width: 100%;
  padding: 10px 12px;
  font-size: 15px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 6px;
  margin-top: 6px;
}
select, input[type="text"]:focus, input[type="file"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus {
  border-color: #ccc;
  box-shadow: none;
}
.btn-signup{
    width: 100%;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    padding: 12px 0px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(to right,
            #3b82f6,
            #1d4ed8,
            #3b82f6);
    margin-top: 22px;

}


@media(max-width : 767px){
    .signup-content-wrap {
        padding: 18px;
    }
    .signup-content-wrap h2{
        font-size: 22px;
        line-height: 32px;
    }
    .signup-content-wrap p{
        font-size: 16px;
        margin: 16px 0px 20px 0px;
    }
}

/* Sign up page css ends */

/* career page css starts */

.career-wrapper{
    width: 100%;
    padding-top: 50px;
}
.career-head h2{
    font-size: 26px;
    font-weight: 700;
    color: #000;
}
.career-head p{
    font-size: 16px;
    font-weight: 400;
    color: #5d5d5d;
    line-height: 26px;
    margin: 20px 0px;
}
.career-head ul{
    padding: 0px;
    margin: 0px;
}
.career-head ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: #5d5d5d;
    line-height: 25px;
    margin: 20px 0px;
}
.career-head ul li span{
    font-weight: 600;
    color: #000;
}
.career-form-wrap {
    width: 100%;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
}
.career-form-wrap h2 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 25px;
}

/* career page css starts */

/* Contact Us page starts */

.contact-wrapper{
    width: 100%;
    padding: 50px 0 50px 0;
}
.contact-head h2{
    font-size: 26px;
    font-weight: 700;
    color: #000;
}
.contact-head p{
    font-size: 16px;
    font-weight: 400;
    color: #5d5d5d;
    line-height: 26px;
    margin: 15px 0px 25px 0px;
}
.contact-wrap{
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
}
.contact-info{
    width: 95%;
    background-color: #fff;
    padding: 30px 0;
    text-align: center;
    border-radius: 10px;
}
.contact-info-detail h4{
    font-size: 22px;
    font-weight: 600;
    color: #000;
}
.contact-info-detail p{
    font-size: 16px;
    font-weight: 400;
    color: #5d5d5d;
    line-height: 26px;
    margin: 12px 0px;
}
.contact-icon{
    margin-bottom: 20px;
}
.contact-icon svg{
    font-size: 35px;
    color: #868686; 
}

@media(max-width : 767px){
    .contact-wrap{
        width: 100%;
        padding: 20px;
    }
    .contact-head h2 {
        font-size: 22px;
    }
    .contact-info {
        width: 100%;
        padding: 25px 0;
    }
}

/* Contact page css ends */

/* Faq page css starts */

.faq-wrap .nav-pills .nav-link {
    width: 92%;
    background: 0 0;
    border: 0;
    border-radius: .25rem;
    text-align: left;
    color: #717171;
    padding: 12px 16px;
}
.faq-wrap .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0d6efd;
}
.faq-wrap .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    font-size: 18px;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
    border-bottom: 1px solid #ccc;
}
.faq-wrap .accordion-body {
    font-size: 16px;
    color: #818b91;
    padding: 16px 0px;
}
.faq-wrap .accordion-button:focus {
    z-index: 3;
    border-color: #ccc;
    outline: 0;
    box-shadow: none;
}
.faq-wrap svg{
    font-size: 20px;
    margin-right: 5px;
}

/* Faq page css ends */

/* general settings page css starts */

.sidebar {
    width: 250px;
    min-height: 100vh;
    background: #111827;
    color: #fff;
    position: fixed;
    padding: 30px 15px;
}
.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 25px;
}
.sidebar a:hover {
    color: #38bdf8;
}
.profile {
    text-align: center;
    margin-bottom: 40px;
}
.profile img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.content {
    margin-left: 250px;
    padding: 30px;
}
.upload-box {
    width: 285px;
    height: 285px;
    border: 2px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: #666;
    margin: 0 auto;
}
.flag-icons img {
    width: 28px;
    height: 18px;
    margin-left: 5px;
    cursor: pointer;
}
.accordion-item {
    background: transparent;
    border: none;
}
.accordion-button {
    background: transparent;
    color: #fff;
    padding: 0px 0px 25px 0px;
    font-weight: 500;
    font-size: 15px;
    box-shadow: none !important;
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.sidebar-accordion .accordion-button:not(.collapsed) {
    background: transparent;
    color: #38bdf8;
    padding-bottom: 15px;
}
.sidebar-accordion .accordion-button:focus {
    box-shadow: none;
}
.sidebar-accordion .accordion-body {
    padding: 0;
    background: transparent;
}
.sidebar-accordion .accordion-body a {
    padding: 4px 30px;
    font-size: 14px;
    color: #ddd;
}
.sidebar-accordion .accordion-body a:hover {
    background: #1f2937;
    color: #38bdf8;
}
.sidebar-accordion .accordion-button svg {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    margin-right: 6px;
}
.sidebar a svg{
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    margin-right: 3px;
}
.sidebar-accordion .accordion-body ul{
    margin: 0;
    padding: 0;
}
.sidebar-accordion .accordion-body ul li{
    list-style: none;
    margin-bottom: 10px;
}
.sidebar-accordion .accordion-body ul li a{
    text-decoration: none;
    color: #ddd;
    margin-bottom: 14px;
}
.sidebar-accordion .accordion-body ul li a:hover{
    color: #38bdf8;
}
.content h4{
    font-size: 22px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}


/* Dashboard page css ends */